In [1]:
for i in range(5, 0, -1):
    for j in range(0, i):
        print("5", end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [2]:
for i in range(6, 0, -1):
    for j in range(0, i):
        print(j, end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [3]:

start= -1
for i in range(6):
  for j in range(i):
      print(start, end="")
  start= start+ 2
  print("\n")

1

33

555

7777

99999

In [4]:
for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end="")
    print()

1
21
321
4321
54321

In [5]:
k = 0
for i in range(1, 5):
    for j in range(0, i):
        k =k+1;
        print(k, end=" ")
    print()

1
2 3
4 5 6
7 8 9 10

In [6]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [7]:

for i in range(1,6):
  for j in range(1,6):
    if j <= i:
      print(i, end='')
    else:
      print(j, end='')
  print()

12345
22345
33345
44445
55555

In [8]:

for i in range(1, 9):
    for j in range(1, i + 1):
        square = i * j
        print(i * j, end='  ')
    print()

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

In [9]:

k = 2 * 5 - 2
for i in range(5, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [10]:

m = (2 * 6) - 2
for i in range(0, 6):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

          *
         *  *
        *  *  *
       *  *  *  *
      *  *  *  *  *
     *  *  *  *  *  *

In [11]:
 print("* * * * * * *")

* * * * * * *

In [12]:

for i in range(0, 6):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(6 + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [13]:

for i in range(0, 5):
    for j in range(0, i +1):
        print("*", end=" ")
    print()

for i in range(5, 0, -1):
    for j in range(0, i - 1):
       print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:

for i in range(0, 5):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

for i in range(5, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [15]:

i = 1
while i <= 5:
    j = i
    while j < 5:
        
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = 5
while i >= 1:
    j = i
    while j <= 5:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [16]:

i = 0
while i <= 5 - 1:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= 5 - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

* * * * *
 * * * *
  * * *
   * *
    *

In [17]:
i = 5 - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= 5- 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

    *
   * *
  * * *
 * * * *
* * * * *

In [18]:

print("*" * 14, end="\n")
i = (14 // 2) - 1
j = 2
while i != 0:
    while j <= (14- 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*